# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store

# Outputs
outputs/*.json

# IDE
.vscode/
.idea/